<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    
</head>
<body>
	<div id="app">
        <ul>
            <li>222</li>
            <li>wwwe</li>
            <li>dddd</li>
            <li>ffff</li>
            <li>ggg</li>
            <li>ghhh</li>
        </ul>
        <div>
            ssss{{input}}
        <div>cccc{{sex}}-{{msg}}</div>
        </div>
        <div v-text="name">

        </div>
        <div v-html="msg">
        <text>
            ddddd{{textcontetn}}-{{msg}}
        </text>
          
        </div>
        <input type="text" v-model="input">
        <button v-on:click="handerClick"></button>
        <button @click="handerClick"></button>
    </div>
    <script type="text/javascript" src="./Observer.js"></script>
    <script type="text/javascript" src="./MVue.js">
    </script>
    <script>
        let myvuue = new MVue(
            {
                el: '#app',
                data: {
                    name: '小明',
                    sex: '男',
                    data1: 1,
                    msg:'你dddd好',
                    input: '请输入',
                    textcontetn: '学习vvm实现原理'
                },
                methods: {
                    handerClick () {
                        console.log('===这里触发点击事件了')
                    }
                },
            }
        );
    </script>
</body>
</html>